@model IEnumerable<Model.EF.BaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Admin/Home">Trang chủ</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        Bài Viết
    </li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>Bài viết</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>

        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tiêu đề</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaBaiViet">
                            <td class="center"><img src="@item.HinhAnhBaiViet" width="300px" /></td>
                            <td class="center">@Html.DisplayFor(modelItem => item.TieuDe)<br /><b>Mô tả: </b>@item.MoTa</td>
                            <td class="center" width="150px">
                                <a class="btn btn-info" href="~/Admin/Article/Edit/@item.MaBaiViet"><i class="halflings-icon white edit"></i>Sửa</a>
                                <a class="btn btn-danger" data-ajax="true" data-ajax-complete="$('#row_@item.MaBaiViet').remove()" data-ajax-confirm="Bạn có muốn xóa bản ghi này không?" data-ajax-method="Delete" href="/Admin/Article/Delete/@item.MaBaiViet">
                                    <i class="halflings-icon white trash"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div><!--/row-->