
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="height:300px;">Đăng ký thành công.<br /><br/> Xin mời bấm vào  <a href="#" data-toggle="modal" data-target="#login-modal">đây</a> để đăng nhập!</h3>
