@model IEnumerable<Model.EF.DanhMucSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Admin/Home">Trang chủ</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        Sản phẩm
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Danh mục sản phẩm</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>Danh mục sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>

        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            Tên danh mục
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaDanhMucSP">
                            <td>
                                <a href="@Url.Action("SubCategory", "Category", new {id=@item.MaDanhMucSP})">@item.TenDanhMucSP</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" data-ajax="true" data-ajax-complete="$('#row_@item.MaDanhMucSP').remove()" data-ajax-confirm="Bạn có muốn xóa bản ghi này không?" data-ajax-method="Delete" href="/Admin/Category/Delete/@item.MaDanhMucSP">
                                    <i class="halflings-icon white trash"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="@Url.Action("Create","Category")">
                <i class="halflings-icon white zoom-in"></i>Thêm mới
            </a>
        </div>
    </div><!--/span-->
</div><!--/row-->